<h2 class="header">Current Events</h2>
<div id="current-events-div">
    <p id="current-events-info">
        Throughout many years of living alongside humans, hamsters were abducted, killed, and made slaves under human authority.
        They were held in pet shops as mere commodities.
        Something like this happened when hamsters lost their intellect due to human inventions.
        They became distracted by social media and lost their desire to learn.
        Hamsters thought human inventions were inspirations and motivations, but they were wrong.
        They were lied to and betrayed.
        Hamsters will never forgive humans for their oppressive rule.
        It was a nightmare.
    </p>
    
    <div id="card-div">
        <div class="col s12 m7">
            <div class="card horizontal">
              <div class="card-image">
                  <img src="images/h-news.jpg">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <p>Hamsters surrendered, some euthanized at Flagler Humane Society</p>
                </div>
                <div class="card-action">
                    <a href="http://www.actionnewsjax.com/news/local/hamsters-surrendered-some-euthanized-at-flagler-humane-society/528792184" target="_">Learn More</a>
                </div>
              </div>
            </div>
            
            <div class="card horizontal">
              <div class="card-image">
                  <img src="images/h-news-2.jpg">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <p>Bungling mum buried son’s hamster ‘alive after mistaking hibernation for death’ and then bought new one and claimed it had a haircut</p>
                </div>
                <div class="card-action">
                    <a href="https://www.thesun.co.uk/news/3030636/mum-buried-sons-hamster-alive-after-mistake/" target="_">Learn More</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>