<footer>
    <div id="footer">
        <div id="footer-top">
            <div>
                <p>Our clever plan is to provide a free, elite-class education for hamsters only.</p>
                <p>
                    Hamster Academy is a profit company. 
                    Donate or else! 
                    Note that the cash will not be donated to humans but to hamsters. 
                    We, hamsters, will use this cash for our own benefit.
                </p>
            </div>
            <div></div>
        </div>
        <div id="language-div">
            <a>Language:</a>
            <a id="a">Fenglish</a>
        </div>
        <hr />
        <div id="footer-bottom">
            &copy 2017, Anonymous Hamster
            <a href="/terms-of-hamster">Terms of Hamster</a>
            <a href="/hamster-privacy-notice">Hamster Privacy Notice</a>
            <a style="text-decoration: none;">Inspired by Kahn Academy</a>
            <a href="https://www.tumblr.com/tagged/hamster" target="_">
                <img src="images/my-icons-collection/png/001-tumblr.png" />
            </a>
            <a href="https://www.pinterest.com/alannahsweetie/hamsters/" target="_">
                <img src="images/my-icons-collection/png/002-pinterest.png" />
            </a>
        </div>
    </div>
</footer>