<h2 class="header">Fortune</h2>
<div id="fortune-content">
    
        <p id="fortune-info">
            In ancient times, the Hamster Fortune Teller once told its hamster tribe about their fortune. 
            Throughout its sayings, the Hamster Fortune Teller became a legend.
            Each fortune that the Hamster Fortune Teller told came true.
            It was a miracle, even though it was an illusion created by a secret hamster group who were paid to make the fortune come true.
            <br>
            <br>
            Anyway, the Hamster Fortune Teller never revealed its secret because the secret was already told by a human.
            According to hamster history, humans were known to be ferocious monsters with the desire to abduct innocent hamsters for who knows what.
            Since the human knows of the Hamster Fortune Teller's secret, that human exploited that secret and used it to gain profit from the masses.
            We, hamsters, call that deception─a way for humans to exploit secrets and lie to others.
        </p>
    
    <div id="fortune-div">
        <div id="fortune">Fortune will appear here</div>
        <br>
        <br>
        <a onclick={fortune()}>Generate Fortune</a>
        <br>
        <br>
    </div>
</div>
    