<h2 class="header">Gallery</h2>
<div id="gallery-content">
    <div id="gallery-div">
        <div>
            <img src="images/h1.jpg">
            <img src="images/h2.jpg">
            <img src="images/h3.jpg">
            <img src="images/h4.jpg">
            <img src="images/h5.png">
            <img src="images/h6.jpg">
            <img src="images/h7.jpg">
            <img src="images/h8.jpg">
            <img src="images/h9.jpg">
            </div>
    </div>
    
    <p id="gallery-info">
        To the left, our lazy hamster president is shown.
        All it does is stay at home, eat, sleep, poop, go on Fecebook, and sell products to no one.
        Speaking of selling products, our hamster president is obsessed with selling products to no one.
        It is an illusion it creates to make it feel better.
        Sad.
        Unfortunately, our hamster president needs to change.
        We, hamsters, need to get our game on and join him.
        This is what we should follow.
        He is our hamster president and we must do what he does.
        It is the best of our abilities.
    </p>
</div>