<h2 class="header">History</h2>
<div id="history-content">
    <p id="history-info">
        Here, you will discover the history of hamsters.
        To the right is only a glimpse of the original history of hamsters.
        It may contain true but false information at the same time.
    </p>
    
    <div id="history-div">
        <div class="z-depth-2">
            <p>
                It all began, when hamsters coincided with humans.
                They became friends... for now.
                Each human and hamster traded their resources to make a living and survive the world's perils.
                They were living in poverty at first until a materialistic human came up with the dumb idea of paper money.
                The process of making paper money involved sacrificing sacred trees.
                To the hamsters, it was unforgivable.
                So, the hamsters and humans segregated themselves.
                <br>
                <br>
                Hamsters ruled half of this world while humans ruled the other.
                They were no longer friends; they were enemies.
                And, they remain enemies until this day.
            </p>
        </div>
    </div>
</div>