<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
        <title>Hamster Academy | Learn About Hamsters</title>
        <link rel="stylesheet" href="css/style.css" />
        
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header id="header">
            <a href="/home"><img src="images/logo-3.png"></a>
        </header>
        
        <h4>Account Information</h4>
        
        <div id="account-div" class="z-depth-1">
            <p>
                First Name: 
                <br>
                Email: 
                <br>
                Password: 
            </p>
        </div>
        
        <script src="js/script.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    </body>
</html>