<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
        <title>Hamster Academy | Learn About Hamsters</title>
        <link rel="stylesheet" href="css/style.css" />
        
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header id="header">
            <a href="/home"><img src="images/logo-3.png"></a>
        </header>
        <h4>Hamster Privacy Notice</h4>
        <div id="hamster-privacy-notice" class="z-depth-1">
            <p>
                1. We're not dedicated to protect you whatsoever.
                <br>
                2. If your account gets hacked, that's your fault.
                <br>
                3. Every hamster for themselves.
                <br>
                4. If you want help, google it. Don't bother asking us unless you got the coin.
                <br>
                5. We sell your personal information to third parties for the cash.
                <br>
                6. You have zero control of your account. You cannot edit your personal information.
                <br>
                7. We secretly advertise on Hamster Academy.
            </p>
        </div>
        
        
        <script src="js/script.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    </body>
</html>