<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
        <title>Hamster Academy | Learn About Hamsters</title>
        <link rel="stylesheet" href="css/style.css" />
        
        <!-- Materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header id="header">
            <a><img src="images/logo-3.png"></a>
        </header>
        
        <h4>In order to access this app, you must create a hamster account.</h4>
        
        <div id="form-div">
            <form class="z-depth-1" action="" method="post">
                <label for="first_name" class="validate">First Name</label>
                <input id="first-name" type="text" name="firstname"> 
                <br>
                <input id="email" type="email" class="validate" name="email">
                <label for="email">Email</label>
                <br>
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
                <br>
                <br>
                <button type="submit">
                    <a style="color:red;">Create Account</a>
                </button>
            </form>
        </div>
        
        <script src="js/script.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    </body>
</html>