body {
    margin: 0;
}

a {
    text-decoration: none;
}

#bg {
    padding-top: 250px;
    width: 100%;
    height: 550px;
    background: url("../images/bg-2.jpg") fixed no-repeat;
    background-size: 100% 760px;
    text-align: center;
    box-sizing: content-box !important;
}

#bg p {
    margin: 0 auto;
    width: 55rem;
    color: white;
    font-size: 25px;
}

